{#include base.html}
{#title}Run Transactions{/title}
{#body}
Use the form below to submit a simple transaction load test.<br/>
<b>Note</b>: this test requires you to update the following cluster setting in CRDB.<br/>
<code>set cluster setting sql.multiple_modifications_of_table.enabled = true;</code>
<form id="newTestForm" method="post">
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
    <div class="form-group mt-3">
        <label for="type">Type</label>
        <select class="form-control" name="type" id="type" aria-describedby="typeHelp">
            <option>INDIVIDUAL</option>
            <option selected="true">COMBINED</option>
        </select>
        <small id="typeHelp" class="form-text text-muted">
            INDIVIDUAL to execute each part of a multi-statement transaction individually,<br/>
            and COMBINED to merge each part of a multi-statement transaction into one CTE statement
        </small>
    </div>
    <div class="form-group mt-3">
        <label for="duration">Duration</label>
        <input type="number" class="form-control" name="duration" id="duration" min="1" step="1" value="5" aria-describedby="durationHelp"/>
        <small id="durationHelp" class="form-text text-muted">
            the number of minutes you want to execute the test
        </small>
    </div>
    <div class="form-group mt-3">
        <label for="size">Object Count</label>
        <input type="number" class="form-control" name="size" id="size" min="1" step="1" value="128" aria-describedby="sizeHelp"/>
        <small id="sizeHelp" class="form-text text-muted">
            the number of object references you want to create during the test
        </small>
    </div>
    <div class="form-group mt-3">
        <label for="connections">Connections</label>
        <input type="number" class="form-control" name="connections" id="connections" min="1" step="1" value="4" aria-describedby="connectionsHelp"/>
        <small id="connectionsHelp" class="form-text text-muted">
            how many connections will be used to execute the test run
        </small>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<div class="statsContainer">

</div>

<script>
    $(() => {
        const newTestForm = $("#newTestForm");
        newTestForm.submit(e => {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/transaction/service",
                data: newTestForm.serialize()
            }).done(data => {
                setTimeout(loadStats, 5000);
            });
            return false;
        })
    });

    function loadStats() {
        $.ajax({
            headers: {
                Accept: "text/html",
            },
            url: "/transaction/service/stats"
        }).done(data => {
            $(".statsContainer").html(data);
        });
    }

    setInterval(loadStats, 60000);
</script>
{/body}
{/include}