
<div class="statsContainer pt-3">
    <table class="table">
        <thead><tr>
            <th scope="col">STATUS</th>
            <th scope="col"># OBJECTS</th>
            <th scope="col">DURATION</th>
            <th scope="col">ELAPSED</th>
            <th scope="col">CONN</th>
            <th scope="col">TXN</th>
            <th scope="col">STMT</th>
            <th scope="col">MOD</th>
            <th scope="col">THROUGHPUT</th>
            <th scope="col">START TIME</th>
        </tr></thead>
        <tbody>
        {#for stat in stats}
        <tr>
            <td><em><strong>{stat.type} - {stat.status}</strong></em></td>
            <td>{stat.size.formatNumber}</td>
            <td>{stat.duration.formatNumber} min</td>
            <td>{stat.elapsed.formatNumber} sec</td>
            <td>{stat.connections.formatNumber}</td>
            <td>{stat.transactions.formatNumber}</td>
            <td>{stat.statements.formatNumber}</td>
            <td>{stat.modifications.formatNumber}</td>
            <td>{stat.throughput.formatNumber} per sec</td>
            <td><small>{stat.startTime}</small></td>
        </tr>
        {/for}
        </tbody>
    </table>
</div>